.app {
  min-height: 100vh;
  width: 100%;
  background-color: #f3f4f6;
}

.app-container {
  width: 100%;
  padding: 0 24px;
}

@media (max-width: 768px) {
  .app-container {
    padding: 0 16px;
  }
}
