.app {
  min-height: 100vh;
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
}

.app > div {
  width: 100%;
  padding: 0 24px;
}

@media (max-width: 768px) {
  .app > div {
    padding: 0 16px;
  }
}
